*{margin: 0;
    padding: 0;
}
.admin-dashboard-container{
    width: 100vw;
}
.admin-navbar{
    width:20vw;
    background-color: var(--white);
    float: left;
    height: 100vh;
    border: 1px solid #b8f7f4;
    box-shadow: #111;

}
.admin-page-container{

background-color: var(--white);
height: 100vh;

}
.banner-add-button{
    margin-right:10px;
}
a.button-link{
    text-decoration: none;
    color:--var(#0d6efd);
}
button.btn.btn-outline-primary.float-end.banner-add-button+a.button-link:hover{
    color:#fff;

}
.float-end.banner-add-button.banner-add-button {
  padding-right: 35px;


}
.add-banner-button {
    margin: 20px auto;
    border: none;
    padding: 0px 15px 0px 15px ;
    font-size: 36px;
    position: relative;
    border: 1px solid #b8f7f4;
    box-shadow: 10px 11px 15px -6px #a8a8fa;

}
.add-banner-button::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    width: 50%;
    height: 100%;
    background:#37030fe0;
    position: absolute;
    top: 0;
    left: 0;
    
}
.btn-text{
  font-size: 20px;
}
.add-banner-button .btn-text {
  color: #ffffff;
  font-weight: 900;
  mix-blend-mode: exclusion;
}
.add-banner-button:hover::before {
    background:#f21444;
    width: 100%;
    
}

a.add-banner-button {
    text-decoration: none;
    padding-bottom: 15px;
}

.box{
  width: 100%;
  margin: 10px;
  padding: 10px;
  
}

.secodarybox{
  display: flex;
justify-content: center;
}
.banner-upload-form{
  max-width: 30vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 40px;
}


.tablebox{
  width: 70%;
  margin: 200px;
  
  
}

.tablesecodarybox{
  display: flex;
justify-content: center;
padding-left: 150px;
}

.banner-table{
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  
}

.banner-table thead{
  background-color: var(--black);
  color: var(--white);
}
.banner-table thead th{
  max-width: 120px;
}
.banner-table tbody tr{
  text-transform: capitalize;
}
.banner-table tbody tr:hover{
  background-color: rgb(234, 235, 250);
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
  transition: .5s;
}

.error{
  width: 50vw;
  float: right;
}
